header {
  background-color: #b8b8b8;
  text-align: center;
  border: 2px solid black;
}

body {
  background-color: #f4f4f4;
  font-family: sans-serif;
  color: #474747;
}

footer {
  border: 1px solid black;
  text-align: center;
  background-color: #DCDCDC;
  margin-top: 50px;
  position: static;
}

article {
  margin: 15px;
}

h4 {
  margin: 15px;
  clear: left;
}

p {
  margin: 10px;
}

ul {
  list-style-type:none;
}

a {
  text-decoration: none;
}

li a:hover {
  color: #000000;
}

article ul {
  margin-top: 100px;
}

.clean_center {
  margin: 10 auto;
  padding: 0;
  text-align:center;
}

.inline {
  display: inline-block;
  vertical-align: top;
  margin: 7px;
}

.align {
  position: static;
  float: left;
  margin-right: 10px;
}

.resize_large {
  width:  auto;
  height: 300px;
  margin: 10px;
}

.resize_medium {
  width:  auto;
  height: 200px;
  margin: 10px;
}

.resize_small {
  width:  auto;
  height: 50px;
  margin: 10px;
}
