/*Place the Header/Title section across the top of the site with a border and appropriate background color.
Page Specific Styling:

contact.html
The site maintainer photo should be left-aligned and the message about contacting the site maintainer to the right of it.*/

header {
  background-color: #b8b8b8;
  text-align: center;
  border: 1px solid black;
}

body {
  background-color: #f4f4f4;
  font-family: sans-serif;
  color: #474747;
}

footer {
  border: 1px solid black;
  text-align: center;
  background-color: #DCDCDC;
  margin-top: 100px;
}

h4 {
  margin: 7px;
}

p {
  margin: 10px;
}

ul {
  list-style-type:none;
}

li a:hover {
  color: #000000;
}

.clean_center {
  margin: 10 auto;
  padding: 0;
  text-align:center;
}

.inline {
  display: inline-block;
  vertical-align: top;
}

.align {
  position: static;;
  float: left;
  margin-right: 10px;
}

.resize_large {
  width:  auto;
  height: 300px;
  margin: 10px;
}

.resize_medium {
  width:  auto;
  height: 200px;
  margin: 10px;
}

.resize_small {
  width:  auto;
  height: 50px;
  margin: 10px;
}

.clearfix:after {
    clear: both;
}
